/**
 * Reset and font styles
 */

html {
	width: 100%;
	min-height: 100%;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: white;
	max-width: $container-width;
	min-height: 100%;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.4);
	color: $secondary;
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 1rem 1.8rem;
}

.control-bar {
	display: none;
}


.indent {
	margin-left: 1rem;
	margin-bottom: 1.4rem;
}

.info p {
	margin-left: 1rem;
}

ul, ol {
	list-style: none;
	margin-left: 1rem;
	margin-top: 0;
	margin-bottom: 0;

	li {
		margin-bottom: $leading;
	}
}
.list {
	list-style: disc;
	margin-top: 0;

	li {
		margin-bottom: 0;
	}
}

section > header {
	margin-top: 1.4rem;
	//padding-bottom: 0.2rem;
	//border-bottom: 0.1rem lighten($secondary, 20%) solid;
}
	.portfolio > header {
		margin-top: -0.8rem;
	} 

a {
	color: inherit;
	@include transition(all);

	&:hover {
		color: lighten($secondary, 20%);
	}
}

.sr-only {
	@include screenreader-only;
}

::selection {
	background: $primary;
	color: white;
}

footer {
	//border-top: 0.1rem lighten($secondary, 20%) solid;
	text-align: center;
}

.experience {
	span {
		float: right;
	}
	.list {
		font-size: 0.85rem;
		margin-top: 0.2rem;
	}
}