<!doctype html>
<html>
	<head>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
		<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
		<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans+Condensed:300,700" rel="stylesheet">
		<style type="text/css">{{{css}}}</style>
	</head>
	<body>
		<div class="control-bar">
			<a href="javascript:window.print();" class="print">Print</a>
		</div>
		{{#resume.basics}}
		<header class="resume-header">
			<h1 class="resume-title">{{name}}</h1>
			<div class="contact-info">
				<a href="tel:{{phone}}">{{phone}}</a>
				<a href="{{website}}">{{website}}</a>
				<a href="mailto:{{email}}">{{email}}</a>
			</div>
		</header>
		<section class="info">
			<header>
				<h2>Overview</h2>
			</header>
			<p>{{summary}}</p>
		</section>
		{{/resume.basics}}
		<div class="row">
			<section class="education col col-2">
				{{#if resume.education.length}}
				<header>
					<h2>Education</h2>
				</header>
				<ul>
				{{#each resume.education}}
					<li>
						<h3>{{institution}}</h3>
						{{#if url}}
							<a href="{{url}}">{{url}}</a>
						{{/if}}
						<em>{{startDate}} &#x2013; {{endDate}}</em><br>
						{{studyType}} {{area}},<br> {{gpa}}
						{{#if courses.length}}
						<p>
							<strong>Courses</strong> 
							{{courses}}
						</p>
						{{/if}}
					</li>
				{{/each}}
				</ul>
				{{/if}}
				{{#if resume.awards.length}}
				<header>
					<h2>Awards</h2>
				</header>
				<ul>
				{{#each resume.awards}}
					<li>
						<p>
							<strong>{{title}}</strong>, {{date}}<br>
							<em>{{awarder}}</em><br>
							{{summary}}
						</p>
					</li>
				{{/each}}
				</ul>
				{{/if}}
				<header>
					<h2>Projects</h2>
				</header>
				<p class="indent">Visit my GitHub profile <a href="https://github.com/BoringCode">(https://github.com/BoringCode)</a> for a list of my open source contributions and projects.</a></p>
			</section>
			{{#if resume.skills.length}}
			<section class="skills col col-2">
				<header>
					<h2>Skills</h2>
				</header>
				{{#each resume.skills}}
					<p><strong>{{name}}</strong></p>
					{{#if keywords.length}}
					<ul class="list">
						{{#keywords}}
						<li>{{.}}</li>
						{{/keywords}}
					</ul>
					{{/if}}
				{{/each}}
			</section>
			{{/if}}
		</div>
		{{#if resume.work.length}}
		<section class="experience">
			<header>
				<h2>Experience</h2>
			</header>
			<ul>
				{{#each resume.work}}
				<li>
					<h3>{{company}}</h3>
					<a href="{{website}}">{{website}}</a>,
					<em>{{position}} <span>{{startDate}} &#x2013; {{endDate}}</span></em><br>
					{{#if highlights.length}}
					<ul class="list">
						{{#highlights}}
						<li>{{.}}</li>
						{{/highlights}}
					</ul>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</section>
		{{/if}}
		<footer>
			<em>References available upon request</em>
		</footer>	
	</body>
</html>
