@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Bitter:400italic,700);
@font-face {
	font-family: 'Franchise';
	font-weight: bold;
	font-weight: 700;
	src: local('Franchise'), url(fonts/franchise-bold-webfont.ttf) format('ttf'), url(fonts/franchise-bold-webfont.woff) format('woff');
}

* {margin: 0; padding: 0; box-sizing: border-box;}

html {
	width: 100%;
	min-height: 100%;
	background-color: #888787;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body {
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100%;
	width: 840px;
	margin: auto;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.4);
	padding-bottom: 15px;
	color: #333333;
}

.control-bar {
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #16577D;
	color: white;
}
	.control-bar a {
		color: white;
		text-decoration: none;
		border: 1px solid white;
		padding: 5px;
		margin: 5px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

.row {
	display: block;
}
	.col {
		display: inline-block;
		vertical-align: top;
		margin-right: -0.25em;
	}
		.col-2-1 {
			width: 50%;
		}
		.col:first-child {
			padding-right: 2.5%;
		}
		.col:last-child {
			padding-left: 2.5%;
		}
/*page header*/
body > header {
	width: 100%;
	padding: 10px 5%;
	background-color: #EFEEEE;
	font-family: 'Franchise', serif;
	border-bottom: 3px solid #16577D;
	margin-bottom: 10px;
	position: relative;
}
	body > header h1 {
		color: #16577D;
		font-size: 49px;
		line-height: 45px;
	}
	body > header h2 {
		font-size: 18px;
		line-height: 18px;
		letter-spacing: 1.6px;
		word-spacing: 2px;
		font-family: 'Bitter';
		font-style: italic;
		font-weight: 400;
	}
	body > header .info {
		position: absolute;
		top: 0;
		right: 5%;
		font-size: 15px;
		font-family: 'Source Sans Pro', sans-serif;
		text-align: right;
		padding: 15px 0;
		line-height: 1.25em;
	}
		body > header .info a {
            display: block;
				color: inherit;
				text-decoration: none;
				margin-bottom: 2px;
		}

.code {
	display: inline-block;
	padding: 0 0.2em;
	border-radius: 3px;
	background: #EFEEEE;
}

section, footer {
	width: 100%;
	padding: 0 5%;
	font-size: 13px;
	line-height: 1.5em;
}
	section header {
		border-bottom: 1px solid #16577D;
		padding-bottom: 2px;
		margin-bottom: 8px;
	}
	   section header h2 {
	   		color: #16577D;
	       font-size: 20px;
	       line-height: 1.2em;
	       font-family: 'Bitter', serif;
	   }
	section ul li {
		list-style: none;
		margin-top: 8px;
		margin-left: 15px;
		margin-right: 15px;
		line-height: 18px;
	}
		section ul.list li {
			list-style: disc;
			margin-top: 0px;
			margin-left: 30px;
		}
	section strong {
		margin-left: 10px;
	}
	section ul h2 {
		font-size: inherit;
		line-height: 18px;
	}
	footer em {
		border-top: 1px solid #16577D;
		display: block;
		padding-top: 8px;
		margin-top: -2px;
		line-height: 1em;
		text-align: center;
	}
	footer p {
		text-align: center;
		font-size: 12px;
		margin-top: 0px;
	}
	footer a {
		text-decoration: none;
		color: #16577D;
	}
	section ul em {
		line-height: 18px;
		display: block;
	}
		section em span {
			font-style: normal;
			float: right;
		}
	section a {
		color: #16577D;
		text-decoration: none;
	}
	section > p {
		margin: 4px 15px;
		margin-bottom: 10px;
	}
footer {
	margin-top: 10px;
}
.experience .list {
	margin-top: 4px;
}